.w-20 {
    width: 20%
}

.w-30 {
    width: 30%
}

.logo-text {
    width: 100px
}

.bi {
    margin-right: 10px;
}

.story {
    height: 60px
}

.dp {
    width: 30px;
    margin: 5px;
    margin-left: 0px
}

.image {
    width: 300px
}